.table:nth-child(even) {
    background-color: rgba(218, 215, 215, 0.73);
}

a:link,
a:visited {
    background-color: #808080;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 3px;
}

body {
    margin-left: 3%;
    margin-top: 2%;
    height: 98%;
    width: 97%;
}

a:hover,
a:active {
    background-color: #404040;
}

button {
    background-color: #808080;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0px;
}

button:hover,
button:active {
    background-color: #404040;
}

.corpo {
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: blue;
    width: 17%;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: absolute;
}

img {
    height: 50px;
    width: 50px;
}